<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="my_bot">
  <link
    name="chassis_link">
    <inertial>
      <origin
        xyz="-2.83261262145895E-05 2.22044604925031E-16 0.0378708196767179"
        rpy="0 0 0" />
      <mass
        value="5.82610941063638" />
      <inertia
        ixx="0.0770101374132731"
        ixy="2.81631652707034E-16"
        ixz="-6.79424367249821E-18"
        iyy="0.117624232886908"
        iyz="1.59295958510328E-08"
        izz="0.193393133753833" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/chassis_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.101960784313725 0.101960784313725 0.101960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/chassis_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_wheel">
    <inertial>
      <origin
        xyz="-2.52368792530433E-10 -3.55674156793384E-10 0.0014698991429235"
        rpy="0 0 0" />
      <mass
        value="0.0724131614406861" />
      <inertia
        ixx="7.01889118225844E-05"
        ixy="-1.17006607871857E-13"
        ixz="-3.75374604257254E-14"
        iyy="7.01889117419415E-05"
        iyz="-5.53496275614822E-14"
        izz="0.000132399198703121" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="continuous">
    <origin
      xyz="0 0.1655 0.0245"
      rpy="-1.5708 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="left_wheel" />
    <axis
      xyz="0 0 1" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="right_wheel">
    <inertial>
      <origin
        xyz="-4.05768529887496E-10 1.59831259338716E-10 0.00146989914292334"
        rpy="0 0 0" />
      <mass
        value="0.0724131614406858" />
      <inertia
        ixx="7.01889116921484E-05"
        ixy="8.4827776539857E-14"
        ixz="-6.27294813064522E-14"
        iyy="7.01889118723772E-05"
        iyz="2.31869584035162E-14"
        izz="0.000132399198703121" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="continuous">
    <origin
      xyz="0 -0.1655 0.0245"
      rpy="1.5708 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="right_wheel" />
    <axis
      xyz="0 0 1" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="rear_left_caster">
    <inertial>
      <origin
        xyz="-0.0144529734853994 -0.000197195132416894 -0.0282267425397052"
        rpy="0 0 0" />
      <mass
        value="0.0534515979316569" />
      <inertia
        ixx="1.0454082047761E-05"
        ixy="-6.7118913399702E-08"
        ixz="-4.68512383128872E-07"
        iyy="1.64287031541121E-05"
        iyz="-6.1387121110272E-09"
        izz="1.53697191218603E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/rear_left_caster.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.807843137254902 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/rear_left_caster.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_left_caster_joint"
    type="continuous">
    <origin
      xyz="-0.16 0.12 0.044"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="rear_left_caster" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="rear_right_caster">
    <inertial>
      <origin
        xyz="-0.0144541637581641 -6.70410460701376E-05 -0.028226743473263"
        rpy="0 0 0" />
      <mass
        value="0.0534516007689551" />
      <inertia
        ixx="1.0453358450296E-05"
        ixy="-1.33097393156388E-08"
        ixz="-4.68548639691606E-07"
        iyy="1.64294274325565E-05"
        iyz="-1.9196573323243E-09"
        izz="1.53697197822719E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/rear_right_caster.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.807843137254902 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/rear_right_caster.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_right_caster_joint"
    type="continuous">
    <origin
      xyz="-0.16 -0.12 0.044"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="rear_right_caster" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="front_left_caster">
    <inertial>
      <origin
        xyz="-0.0144542842960568 -3.18165769193079E-05 -0.0282267435598286"
        rpy="0 0 0" />
      <mass
        value="0.0534516010893893" />
      <inertia
        ixx="1.04533290979324E-05"
        ixy="1.25383235701619E-09"
        ixz="-4.68551921573542E-07"
        iyy="1.64294568105999E-05"
        iyz="-7.77808839289539E-10"
        izz="1.53697198142186E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/front_left_caster.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.807843137254902 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/front_left_caster.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_caster_joint"
    type="continuous">
    <origin
      xyz="0.16 0.12 0.044"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="front_left_caster" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="front_right_caster">
    <inertial>
      <origin
        xyz="-0.0144542842960568 -3.18165769198075E-05 -0.0282267435598286"
        rpy="0 0 0" />
      <mass
        value="0.0534516010893893" />
      <inertia
        ixx="1.04533290979324E-05"
        ixy="1.25383235699171E-09"
        ixz="-4.68551921573548E-07"
        iyy="1.64294568105999E-05"
        iyz="-7.778088393206E-10"
        izz="1.53697198142186E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/front_right_caster.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.807843137254902 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/front_right_caster.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_caster_joint"
    type="continuous">
    <origin
      xyz="0.16 -0.12 0.044"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="front_right_caster" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="laser_frame">
    <inertial>
      <origin
        xyz="0.0120498603393037 -0.000527653979938481 -0.0287648172226811"
        rpy="0 0 0" />
      <mass
        value="0.0730841381308203" />
      <inertia
        ixx="1.95803836131461E-05"
        ixy="-1.03961369025009E-07"
        ixz="-4.28359124720134E-07"
        iyy="2.41251357797456E-05"
        iyz="9.43637471918086E-09"
        izz="4.1418085750291E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/laser_frame.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_bot/meshes/laser_frame.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_frame_joint"
    type="fixed">
    <origin
      xyz="0.168010331236319 0 0.133499999999996"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="laser_frame" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>